.cards-list {
    width: 100%;
    text-align: center;
    padding: 20px; /* Добавил отступы по краям */
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0; /* Установил вертикальные отступы */
    text-transform: uppercase;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирует карточки по горизонтали */
    gap: 20px; /* Добавляет отступы между карточками */
}
