.cards-list{
    width: 400px;
    height: 400px;
    text-align: center;
    float: left;
}

.text{
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    justify-content: center;
}