.container {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: gold;
    /* padding: 0px ; */
    /* margin: 3px; */
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* width: 100% */
}

li {
    float: left;
}

li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: black;
    /* padding: 14px 20px; */
    display: block;
}

a:hover {
    background-color: #ddd;
    color: black;
}