.custom-carousel {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    /* border-radius: 10px; */
    overflow: hidden;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);
    margin: 20px auto;
    max-width: 1000px;
}

.custom-image {
    width: 100%;
    height: 100%;
    /* border-radius: 1px; */
    transition: transform 0.5s ease;
}

.custom-image:hover {
    transform: scale(1.05);
}

.custom-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    /* border: 2px solid #000; */
    transition: background-color 0.3s ease;
}

.custom-indicators button.active {
    background-color: #000;
}

.custom-control {
    
    padding: 5px;
    transition: background-color 0.3s ease;
}



.custom-control-icon {
    font-size: 50px;
    color: #fff;
}

.carousel-item{
    width: 100%;
    height: 100%;
    min-width: 1000px;
}


.image-container {
    position: relative;
    width: 100%;
    /* max-width: 400px; Настройте по своему усмотрению */
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .text-overlay {
    position: absolute;
    top: 5%; /* Положение текста сверху */
    left: 50%; /* Положение текста слева */
    transform: translate(-50%, -50%); /* Центрирование текста */
    color: white; /* Цвет текста */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон под текстом */
    padding: 10px;
    border-radius: 5px; /* Закругленные углы */
    font-size: 16px;
    text-align: center;
  }
  
#demo{
    max-width: none;
    margin: 0;
}
